.bd-backdrop-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    opacity: 1;

    .bd-backdrop {
        opacity: 0;
        background: rgb(0,0,0);
        transition: opacity .3s;
    }

    .bd-backdrop-container-content {
        > div {
            transform: scale(.8);
            opacity: 0;
            transition: .15s;
        }
    }

    &.visible {
        .bd-backdrop {
            opacity: .85;
        }

        .bd-backdrop-container-content {
            > div {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.bd-modal {
    opacity: 1;
}

.markdown-modal {
    background-color: #2e3136;

    .markdown-modal-header {
        border-bottom: 1px solid hsla(218,5%,47%,.3);
    }

    .markdown-modal-footer {
        background-color: #2b2e33;
        border-top: 1px solid hsla(218,5%,47%,.3);
    }

    .scroller-wrap {
        .scroller {
            ul {
                li {
                    color: #b9bbbe;
                }
            }
        }
    }
}