.bd- {
    &sidebar- {
        &header {
            padding: 6px 10px;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-shrink: 0;
            font-weight: 500;
        }
        &separator {
            margin-left: 10px;
            margin-right: 10px;
            height: 1px;
        }
        &item {
            padding: 6px 10px;
            margin-bottom: 2px;
            cursor: pointer;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            border-radius: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-shrink: 0;
            font-weight: 500;
        }
    }
}